body {
    background-color: #F4EEFF;
    overflow-x: hidden;
}
.stateButton,.functionalButton{
    position: relative;
    right: 0px;
    height: 71px;
    margin:15px 0;
    background-color: #A6B1E1;
    border-radius: 20px 0 0 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    width: 300px;
    transition: 0.8s;
}
.stateButton:hover{
    background-color: #424874;
    right: 40px;
    height: 80px;
}
.functionalButton{
    border-radius: 20px;
    transition: 0.5s;
}
.functionalButton:hover{
    background-color: #424874;
    height: 80px;
    width: 350px;
}

#StateButtonBox{
    position: absolute;
    top: 30%;
    right: -40px;
    display: flex;
    flex-direction: column;
    text-align: right;
}
#TimeBox{
    margin: 500px auto auto auto;
    text-align: center;
}
#TimeCount {
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    z-index: 100;
}
#TipsText{
    position: relative;
    bottom: 100px;
    color: #424874;
    font-size: medium;
    font-style: italic;

}
#FunctionalButtonBox{
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    height: 200px;
    text-align: center;
}
#AlarmText{
    margin-top: 500px;
    font-size: 100px;
    text-align: center;
    z-index: 100;
}
circle
{
    fill: #CCC;
    stroke-width: 2px;
}
#clock
{
    stroke: black;
    position: absolute;
    top: 50px;
    left: calc(50vw - 200px);
}
#ring
{
     stroke: red;
}
line
{
    stroke: black;
}
#hourhand, #minutehand
{
    stroke-width: 2px;
}
#secondhand
{
    stroke-width: 0;
}
.hrot
{
    transform-origin: 200px 200px;
    animation: rot 43200s none linear infinite;
}
.mrot
{
    transform-origin: 200px 200px;
    animation: rot 3600s none linear infinite;
}
.srot
{
    transform-origin: 200px 200px;
    animation: rot 60s none linear infinite;
}
.hrevrot
{
    transform-origin: 200px 200px;
    animation: revrot 43200s none linear infinite;
}
.mrevrot
{
    transform-origin: 200px 200px;
    animation: revrot 3600s none linear infinite;
}
.srevrot
{
    transform-origin: 200px 200px;
    animation: revrot 60s none linear infinite;
}
@keyframes rot
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
@keyframes revrot
{
    from
    {
        transform: rotate(360deg);
    }
    to
    {
        transform: rotate(0deg);
    }
}

.mainmark
{
    stroke-width: 5px;
}
.submark
{
    stroke-width: 4px;
}